.bubble {
    position: relative;
    width: 300px;
    height: 300px;
    content: "";
    border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
    background-image: radial-gradient(
      50% 50% at 50% 50%, 
      rgba(236, 197, 167, 0.47) 0%,
      rgba(236, 197, 167, 0.32) 70%,
      #ecc5a7 100%
    );
    margin: auto;
    transition: 0.3s;
    border: none;
}
.bubble-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.bubble-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*Small-Bubble*/
.small-bubble{
    width: 4em;
    height: 4em;
    background-color: radial-gradient(50% 50% at 50% 50%, rgba(236, 197, 167, 0.47) 0%, #ECC5A7 100%);
    border-radius: 50%;
    border: 1px solid red;
}
/*HOVER*/ 
.bubble:hover {
animation: wave 5s linear infinite;
}

.bubble:hover .bubble-text {
font-size: 26px;
}

.bubble:onclick .bubble-text {
animation: klick 5s linear infinite;
}

/*ANIMATIONEN*/
@keyframes wave {
20% {
    border-radius: 45% 55% 62% 38% / 53% 41% 49% 47%;
}

60% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
}
}
/*FUNKION*/
.bubble-active{
    display: inline;
}
.bubble-disabled{
    display: none;
}