.container-charts{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-right: 3.5em;
}

.wrapper-bg-charts{
    position: relative;
    margin: 0;
}
.container-background{
    position: absolute;
    top: 2em;
    z-index: 1;
    img{
        height: 100vh;
        width: 100%;
    }

}