#nav_daten{
    padding-top: 1em;
}
.container-chart-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 2em;
    margin-top: 6em;
    
    #text-meinung{
        margin-left: 5em;
        max-width: 18em;
        h3{
            margin: 0 0 0.5em 0;
        }
    }
    #text-konsum{
        text-align: right;
        margin-right: 8em;
        max-width: 18em;
        h3{
            margin: 0 0 0.5em 0;
        }
    }    
}
.container-chart-selection{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: -2em;
}
.btn-chart-selection{
    color: $color-white;
    border-radius: 0.4em;
    border: none;
    padding: 0.8em 0 0 0;
}
button.btn-chart-selection:nth-child(2){
    margin: 0 1em;
}
.active{
    font-size: 1.125em;
    width: 6.5em;
    height: 6.5em;
    animation: ease-in 10s;
    img{
        width: auto;  
        height: 4.5em;
        object-fit: cover;
        margin: 0 auto;
    }
}
.disabled{
    font-size: 0.875em;
    background-color: $color-grey-900;
    width: 6em;
    height: 6em;
    img{
        width: auto;  
        height: 4.5em;
        object-fit: cover;
        margin: 0 auto;
    }
}
.active-lokalisation{
    background-image: $color-gradient-terracotta;
}
.active-alter{
    background-image: $color-gradient-blue;
}
.active-konsumart{
    background-image: $color-gradient-forest;
}