//Container zur Platzierung des bg
#nav_Herausgeber{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-studie-text{
    margin-top:11em;
}
.container-studie{
    position: relative;
    z-index: 2;
    margin-top: 8.5em;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
.background-red{
    width: 100%;
    position: absolute;
    top:-23.5em;
    left: -0.5em;
    z-index: 1;
}
.container-studie > img:nth-child(2) {
    position: absolute;
    top: -9.5em;
    left: -5em;
}
   
.container-studie > img:nth-child(3) {
    position: absolute;
    right: -4em;
    top: -3em;
}
/*
.row-illus > img:nth-child(1) {
    position: absolute;
    top: -2em;
    left: -6em;
}
.row-illus > img:nth-child(2) {
    position: absolute;
    right: -3em;
}
*/  
.container-text-studie {
    display: flex;
    .col:first-child {
        max-width: 30.5em;
    }
    .col:last-child{
        max-width: 30.5em;
        margin-left: 8%;
    }
}
/*
.background-red{
    width: 100%;
    background-position: absolute;
    background-image: url('src/assets/background-red.png');
    background-repeat: no-repeat;
}*/
