.container-herotext{
    max-width: 45.75em;
    margin:0 auto $xl-spacing auto;
    .p-large.text-center{
        margin-bottom: $m-spacing;
    }
}
.container-speechbubbles{
    display: flex;
    justify-content: space-around;
}
.row-full{
    img{
        width: 100%;
    }
}
/*.jacket{
      img{
        position: fixed;
        /*top: 0;
        left: 56.5em;

        width: 12%;
      }
}*/
#jacket{
    position: fixed;
    top:0;
    left:0;
  //  left: 56.5em;
    transform: rotate(-20deg);
}
/*.container-sticky{
  position: absolute;
}*/
.cap{
      img{
        width: auto;
        position: absolute;
        top: 82em;
        left: 78.125em;
      }
}
.shirt{
      img{
        width: auto;
        position: absolute;
        top: 79.5em;
        left: 21em;
        transform: rotate(-30deg);
      }
}
.shoe{
      img{
        width: auto;
        position: absolute;
        top: 80em;
        left: 44em;
        transform: rotate(20deg);
      }
}
